@tailwind base;
@tailwind components;
@tailwind utilities;

/* .slide___3-Nqo {
 width:12%!important;
} */

    .horizontalSlider___281Ls {
        width: 820px;
        margin-left: 380px;
    }
    .sliderTray___-vHFQ {
        width: 166.667%;
    }
@media (min-width: 1920px)
{
    .horizontalSlider___281Ls {
        width: 820px;
        margin-left: 636px;
    }
}
@media screen and (max-width: 768px) { 
    .horizontalSlider___281Ls {
        margin-left: 200px;
    }
    .horizontalSlider___281Ls {
        width:70%;
 }
}
@media screen and (max-width: 390px) { 
    .horizontalSlider___281Ls {
        margin-left: 50px!important;
    }
    .horizontalSlider___281Ls {
        width:70%;
 }
 .carousel{
     width:555px;
 }
}


@media screen and (max-width: 768px){

.sliderTray___-vHFQ {
    width: 374.667%!important;
}
}


@media screen and (max-width: 820px){

    .sliderTray___-vHFQ {
        width: 374.667%!important;
        margin-left: 0px!important;
    }
    .horizontalSlider___281Ls {
        width:70%;
 }
 .horizontalSlider___281Ls {
    margin-left: 208px;
}
}
@media all and (max-width:767px) and (min-width:576px)
{
    .sliderAnimation___300FY {
        
        transform: translateY(-40%) translateX(0px);
    }
    
    
    
}

/* for nav  */
/* .box {
    width: 500px;
    height: 500px;
    background-color: brown;
    position: absolute;
    top: 80;
    transition: all 3s;
  }
  .box2 {
    width: 500px;
    height: 500px;
    background-color: yellow;
    position: absolute;
    top: -580;
    transition: all 3s;
  } */